table, tr, td {
    border: 1px solid pink;
    border-collapse: collapse;
    padding: 5px;
    }
    /* border-collapse: collapse устанавливает, как отображать границы вокруг ячеек таблицы.
    Это свойство играет роль, когда для ячеек установлена рамка, тогда в месте стыка ячеек получится линия двойной толщины.
    Значение collapse заставляет браузер анализировать подобные места в таблице и убирать в ней двойные линии */

    tr:first-child {
        border-bottom: 3px solid pink;
        }
        /* Псевдокласс :first-child применяет стилевое оформление к первому дочернему элементу своего родителя.*/
    
    td:first-child{
        border-right: 3px solid pink;
        }